<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <section class="masthead bg-primary text-white text-center">
    <div class="container">
      <h2>Todo 생성</h2>
      <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
      </div>
      <div class="form-group">
        <label for="content">내용</label>
        <textarea class="form-control" id="content" rows="3" placeholder="내용을 입력하세요"></textarea>
      </div>
      <button id="submitTodo" class="btn btn-light">생성</button>
    </div>
  </section>
  <script th:src="@{/js/todo/form.js}"></script>

</th:block>
</html>
